.head_container {
    width: 100%;
    height: 80px;
    background-color: #ff7f00; 
    display: flex;
    filter: drop-shadow(0px 5px 13px #000000);
}

.header_left {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_left img {
    width: auto;
    height: 70px;
}

/* Shopping Card */

.wrapper {
    display: flex;
}

.shopping_cart_body {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: scroll
}

.shopping_cart_body h2 {
    padding-top: 30px;
    font-size: 32px;
    font-weight: bold;
}

.shopping_cart_options {
    padding: 10px;
    margin: 18px;
}

.shopping_cart_options button {
    padding: 5px 35px;
    border-radius: 20px;
    cursor: pointer;
}

.shopping_cart_options button:first-child {
    margin-right: 10px;
}

.shopping_cart_options span {
    text-align: center;
    font-size: 17px;
}

.sopping_cart_icon img {
    padding-top: 50px;
}

.sopping_cart_icon img {
    width: 50px;
}

.shopping_cart_text {
    padding-top: 28px;
    text-align: center;
}

.shopping_cart_text h3 {
    font-size: 25px;
}

.shopping_cart_text p {
    padding-top: 7px;
}


/* Main Content */
.main_content {
    width: 80%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: #ececec;
    filter: drop-shadow(5px 10px 10px #000000);
}

.main_content_mainimage img {
    width: 100%;
    height: 300px;
    object-fit: fill;
}

.main_content_wrap {
    padding: 0px 150px;
}

.main_text {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.main_text h1 {
    font-size: 35px;
}

.main_text a {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    gap: 7px;
    border-radius: 20px;
}

.main_text a img {
    width: 30px;
}

.side_info {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.side_info p img {
    width: 20px;
}

.side_info p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 7px;
}

.side_info p:first-child {
    text-decoration: underline;
}

.side_info_dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000000;
}

.search_bar {
    margin-top: 40px;
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 40px;
    display: flex;
    gap: 7px;
    background-color: #fff;
}

.search_bar input {
    border: 0px;
    width: 100%;
    height: auto;
    outline: none;
}

.content_links {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    list-style-type: none
}

.content_links a {
    background-color: rgb(29, 29, 29);
    padding: 5px 10px;
    border-radius: 30px;
    color: white;
}

.content_design img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.content_design h3 {
    padding: 10px 0px;
}

.content_render {
    border: 1px solid;
    width: 100%;
    height: 120px;
    border-radius: 20px;
    background-color: lightgray;
    margin: 20px 0px;
}

.top_info {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.top_info img {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
}

.content_render p {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

/* Abput us BG */

.about_us_bg {
    max-width: 100%;
    width: 100VW;
    height: 100vh;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about_us_info {
    width: 580px;
    height: 780px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid;
    overflow-y: scroll;
    overflow-x: hidden;
}

.about_us_top {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
}

.about_us_top img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid;
}

.about_us_top h4 {
    font-size: 32px;
}

.about_us_card {
    max-width: 580px;
    margin-top: 50px;
}

.about_us_card_top h4 {
    font-size: 26px;
    display: flex;
    align-items: center;
}

.about_us_card iframe {
    width: 580px;
    height: 150px;
    border: 0px;
}

.about_us_card_top {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.about_us_card_top img {
    width: 25px;
    height: 25px;
}

.about_us_delivery {
    width: 420px;
    background-color: #dadada;
    border-radius: 1px solid;
    border-radius: 20px;
}

.about_us_delivery_box {
    display: flex;
    justify-content: center;
}

.about_us_delivery_days {
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_us_delivery_days:first-child {
    padding-top: 20px;
}

.about_us_delivery_days:last-child {
    padding-bottom: 20px;
}

.about_us_text {
    padding-top: 20px;
}