.dp-none {
    display: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body {
    background-color: rgba(17, 0, 77, 0.2);
    overflow-x: hidden;
}

.button_active {
    background-color: #ff7f00;
    transition: all 0.3s;
}

.button_unactive {
    background-color: gray;
    transition: all 0.3s;
}

.button_active:hover {
    background-color: #ff7f00;
    transition: all 0.3s;
}

.button_unactive:hover {
    background-color: #ff7f00;
    transition: all 0.3s;
}

.bold {
    font-weight: 800;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

.line {
    width: 400px;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #ff7f00;
    cursor: pointer;
}

.button:hover {
    background-color: #c06000;
    transition: all 0.3s;
}